#detail {
    max-width: 720px;
    width: 80%;
    margin: auto;

    header {
        font-size: 5rem;
        margin-top: 15vw;
        text-align: center;
        line-height: 1;
    }

    time {
        font-size: 1.3rem;
        color: #9EABB3;
    }

    .content {
        margin-top: 1vw;
    }
}